.slide-container{
    margin-bottom: 30px;
}

.annonce-container {
    display:flex;
    justify-content:space-between;  
}

.annonce-container-1 {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:column;
}
.annonce-container-section1{
    margin-bottom: 20px;
}
.annonce-container-section1 h1,h3 {
    margin-bottom: 12px;
    font-weight: 500;
}
.annonce-container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    flex-direction:column-reverse;
}
.annonce-profil {
    display:flex;
    align-items:center;
}

.annonce-container-2 aside {
    display:flex;
    align-items:center;
}
.annonce-host-pic  {
    border-radius:50%;
    height: 50px;
    margin-left: 10px;
}
.collapse-text li{
    list-style-type: none;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.annonce-container-section2-profil{
    display: flex;
    align-items: flex-end;
}


@media screen and (max-width: 768px) {
.annonce-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.annonce-container-1 {
    margin-top: 10px;
}
.annonce-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.annonce-container h1  {
    font-size: 18px;
    margin-bottom: 5px;
}
.annonce-container h3 {
    font-size: 16px;
}
.tag-name{
    margin: 0 15px 10px 0;
}
.annonce-container-section2-profil{
    display: flex;
    align-items: center;
    text-align: end;
}
.annonce-container p {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin: 10px 10px 0 0;
}
article img{
    width: 18px;
}
}