.card-gallery {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;

}

.card-container {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    
}

.card-container img{
    position: absolute;
    border-radius: 10px;
    width: inherit;
    height: inherit;
}

.card-container h2{
    position: relative;
    height: 52px;
    width: 300px;
    left: 20px;
    top: 268px;
    line-height: 26px;
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
}

@media  screen and (max-width: 768px) {
    
}