.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #FFF;
    color: #ff6060;
}

.error-content {
    height: 263px;
    width: 597px;
    font-size: 288px;
    font-weight: 700;
    margin: 100px;
}

.error-text {
    height: 51px;
    width: auto;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.error-navlink {
    height: 26px;
    width: 284px;
    font-weight: 500;
    margin: 182px 0 80px 0;
    color: #ff6060;
}

@media  screen and (max-width: 768px) {
    .error-content{
        height: 99px;
        width: 198px;
        font-size: 96px;
        margin: 200px 0 11px 0;
    }

    .error-text{
        height: 52px;
        width: 260px;
        font-size: 18px;
        line-height: 26px;
        margin-top: 11px;
    }

    .error-navlink{
        font-size: 16px;
        margin-bottom: 200px;
    }
}