.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff6060;
}

.header-nav{
    display: flex;
    height: 34px;
    width: 25%;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
}

.header-nav a{

}

@media screen and (max-width: 768px) {
    
    
}