body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #FFFFFF;
    height:100%; 
    width: 100%;
    min-height: 100vh;
    margin: 0 100px;
}